h1 {
  color: rgb(187, 29, 29);
  font-size: 14px;
  text-align: left;
}
.mainindex {
  display: flex;
  background-color: blue;
  padding: 10px;
  border: solid 2px black;
  flex-direction: column;
  flex-wrap: wrap;
}
