h1 {
  color: rgb(187, 29, 29);
  font-size: 14px;
  text-align: left;
}
.mainindex {
  display: grid;
  background-color: white;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.headerindex {
  background-color: aquamarine;
  grid-column: 1 / 3;
}
.parrafo {
  background-color: grey;
  grid-column: 1 / 2;
}
.video {
  grid-column: 1 / 3;
}
